.payment-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
}

.span-2 {
    grid-column: span 2 / span 2;
}

.payment-form button {
    min-width: 66%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 7px 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #133A6F;
    cursor: pointer;
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 24.55px;
}